@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    background-color: hsl(218, 23%, 16%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 35%;
    text-align: center;
    padding: 30px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 20px;
    max-height: 37vh;
}


main h3 {
    color: hsl(150, 100%, 66%);
}

#advice {
    color: hsl(193, 38%, 86%);
    font-family: 'Manrope', sans-serif;
}

#getNew {
    margin-top: 20px;
    padding: 20px;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    border: none;
}